*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml

.DS_Store
/build
/captures
.externalNativeBuild


###############

#key
/-keystore
/sooolKey/

#release
/release/

#util
Util/
SharedPreferences/

#String value
strings.xml
