<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lpky.taopr.soool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.lpky.taopr.soool.Kakao.GlobalApplication"
        android:allowBackup="false"
        android:icon="@drawable/soool_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="false"
        android:usesCleartextTraffic="true">
        <activity android:name="com.lpky.taopr.soool.View.HandlingPrivacyActivity"></activity>
        <activity android:name="com.lpky.taopr.soool.View.TosActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.lpky.taopr.soool.View.GuideActivity"
            android:theme="@style/NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lpky.taopr.soool.View.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lpky.taopr.soool.View.StartingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lpky.taopr.soool.View.QnaBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.lpky.taopr.soool.View.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lpky.taopr.soool.View.QnaBoardDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity android:name="com.lpky.taopr.soool.View.CalendarSchActivity" />
        <activity android:name="com.lpky.taopr.soool.View.CalendarAddSchActivity" />
        <activity
            android:name="com.lpky.taopr.soool.View.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lpky.taopr.soool.View.VoteImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.lpky.taopr.soool.View.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.lpky.taopr.soool.View.InfoDetailActivity" />
        <activity
            android:name="com.lpky.taopr.soool.View.PassFindActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity android:name="com.lpky.taopr.soool.View.DeleteAccountActivity" />
        <activity android:name="com.lpky.taopr.soool.View.NoticeActivity" />
    </application>

</manifest>